.modal{ 
  padding:2rem;
  overflow-y: auto;
  
  .close{
    margin: 0 auto;    
    font-size: 2rem;
    cursor: pointer;


    img{
      width:30px;
      height: 30px;
    }
  }
}

.modal-right {
  .close {
    margin-left: 0;
  }
}

.modal-left {
  .close {    
    margin-right: 0;
  }
}