.button {
  padding:8px;
  color:$grey-1;
  @include light-gradient;
  display: inline-block;
  margin: 0.5rem 0;
  border-radius: 5px;
  transition: all 0.3s ;
  cursor: pointer;

  a {
    text-decoration: inherit;
  }

  @include for-size(tablet-portrait-up) {    
    font-size: 1.2rem;
  }

  &:hover{
    opacity: 0.9;
  }


  &.red{
    background: unset;
    background-color: $red-1;
  }
}

input[type=text], input[type=search]  {
  font-family: inherit;
  font-size: 1rem;
  padding: 7px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid $grey-3;
  border-radius: 5px;
  transition: border-color 0.5s ease-in-out;

  &:focus{
    outline: none;
    border-color: $grey-5;
  }
}

input:focus {
  outline: none;
}

.group{
  margin-top:1rem;
}