// Fix jumping scrollbar
html { 
  margin-left: calc(100vw - 100%); 
}

body{
  background-color: $grey-1;
}

.fill-and-center {
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-bar{
  background-color: $blue-1;
  height: 5px; 
  position: absolute;
}

