// COLOURS

$white:  #ffffff;
$off-white:#fbfbfb;
$grey-5: #21252a;
$grey-4: #495057;
$grey-3: #868e96;
$grey-2: #adb5bd;
$grey-1: #f1f3f5;

$blue-1: #54a0c0;
$blue-2: #3e8aaa;
$blue-3: #203A43;
$blue-4: #0F2027;
 
$red-1: #9d1717;

